.portfolio {
    width: 100%;
    padding: 100px 0;
  
    &__title {
      color: #ffffff;
      font-size: 35px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 40px;
      position: relative;
  
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: 'Portfolio';
        width: 100%;
        height: 100%;
        color: rgba(177, 174, 174, 0.171);
        font-size: 80px;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      span {
        color: #0af886;
      }
    }
  
    .swiper {
      width: 100%;
      height: 100vh;
      margin-top: 100px;
  
      &-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      &-button-prev,
      &-button-next {
        color: #0af886;
      }
  
      &-pagination-bullet-active {
        background-color: #0af886;
      }
    }
  
    &__slide {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
  
      &:hover .portfolio__slide-item {
        opacity: 1;
        transform: scale(1);
      }
  
      &-item {
        position: absolute;
        background-color: #0af886;
        width: 100%;
        height: 100%;
        top: 0;
        transform: scale(1.3);
        opacity: 0;
        transition: transform 0.4s ease 0s;
  
        .portfolio__item-title {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
          font-size: 4em;
          color: #fff;
          font-family: Sans-serif;
          text-decoration: none;
        }
  
        .portfolio__item-subtitle {
          position: absolute;
          top: 51%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
          font-size: 20px;
          color: #fff;
          font-family: Sans-serif;
          text-decoration: none;
        }
  
        .portfolio__item-skills {
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
          font-size: 20px;
          color: #fff;
          font-family: Sans-serif;
          text-decoration: none;
        }
      }
  
      img {
        transition: transform 0.8s ease;
        object-fit: contain;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  
    @media (max-width: 768px) {
      &__title::before {
        display: none;
      }
  
      &__slide-item {
        .portfolio__item-title {
          font-size: 2em;
          margin-bottom: 30px;
        }
  
        .portfolio__item-subtitle {
          font-size: 18px;
          margin-top: 20px;
        }
  
        .portfolio__item-skills {
          font-size: 16px;
          margin-top: 20px;
        }
      }
    }
  }
  