/* ------ Container ------ */
.container {
    width: 90%;
    margin: 0 auto;
}

.default__btn {
    width: 180px;
    height: 45px;
    border-radius: 40px;
    outline: none;
    border: 1px solid #0af886;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: .2s linear;

    &.hover {
        background-color: #0af886;
        border: 1px solid #ffffff;
    }
}